<% if !@requests.empty? %>
<h1>Friend requests</h1>
<ul>
    <% @requests.each do |f| %>
        <li><%= f.user.name %><%= link_to "Accept", class: "btn"  %><%= link_to "Decline", class: "btn-decline" %><li>
    <% end %>
</ul>
<% end %>
<h1>Friends</h1>
<ul>
    <% @friends.each do |f| %>
        <li><%= f.user.name %><%= f.status ? '': ', pending' %><li>
    <% end %>
</ul>